.main-block { width: 350px; }

.m-t-small { margin-top: 5px; }
.m-t-normal { margin-top: 10px; }
.m-t-big { margin-top: 15px; }
.m-t-large { margin-top: 20px; }
.m-t-extra-large { margin-top: 25px; }

.m-l-small { margin-left: 5px; }
.m-l-normal { margin-left: 10px; }
.m-l-big { margin-left: 15px; }
.m-l-large { margin-left: 20px; }
.m-l-extra-large { margin-left: 25px; }

.m-r-small { margin-right: 5px; }
.m-r-normal { margin-right: 10px; }
.m-r-big { margin-right: 15px; }
.m-r-large { margin-right: 20px; }
.m-r-extra-large { margin-right: 25px; }

.m-b-small { margin-bottom: 5px; }
.m-b-normal { margin-bottom: 10px; }
.m-b-big { margin-bottom: 15px; }
.m-b-large { margin-bottom: 20px; }
.m-b-extra-large { margin-bottom: 25px; }

.product-image {
    width: 65px;
    margin-left:-20px
}

.product-name {
    line-height: 1.21;
}

.product-brand {
    font-weight: bold;
}

.product-prices {
    line-height: 1;
}

.product-old-price {
    color: #cec9c7;
    text-decoration: line-through;
}

.product-new-price {
    color: #ff6600;
    font-weight: bold;
    font-size: 19px;
}

.product-store {
    /*font-weight: bold;*/
}

.product-discount {
    font-size: 22px;
}

.project-logo {
    width: 45px;
    margin-top: -10px;
    margin-left: -10px;
}

.deals-info {
    font-weight: bold;
    color: #ff6600;
    line-height: 0.7;
    font-size: 16px;
}

#post-error {
    color: red;
    font-weight: bold;
}

#google-play-btn, #app-qr-code {
    width: 150px;
}